<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>e-LOCK</title>
</head>
<body>
 <div class="form">
<h1>e-LOCK</h1>
	<div class="form-content">
		<form action="/otp_verify" method="post">
			<div class="form-info">
				<h2>ENTER OTP</h2>
			</div>
			<div class="pass-w3l">
			<!---728x90--->
			<span class="i2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
				<input class="pass" type="password" name="textfield" placeholder="Enter the OTP" required>
			</div>
            <div class="submit-agileits">
				<input class="login" type="submit" value="SUBMIT">
			</div>

		</form>
	</div>
</div>

</body>
</html>