{% extends 'user/blank-page.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post"><table width="544" border="1" class="table table-secondary">

  <tr><br>
     <center> <th height="100" scope="row" width="200" >WRITE&nbsp; TO<center> US</center></th></center>
    <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="110" rows="5"></textarea>  </td>
  </tr>
  <tr>
    <th height="40" colspan="2" scope="row"><c><center><input type="submit" name="SUBMIT" id="SUBMIT" value="Submit" class="btn btn-dark" />
      <a href="/view_reply" class="btn btn-primary">View reply</a></center> </th>

    </tr>
</table>
</form>
</body>
</html>
{% endblock %}
