{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="/otp_login">#}
{##}
{#<table width="288" height="113" border="1">#}
{#  <tr>#}
{#    <td width="135" height="57">Enter the OTP</td>#}
{#    <td width="138"><label for="textfield"></label>#}
{#      <input type="text" name="textfield" id="textfield" /></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td height="48" colspan="2"><div align="center">#}
{#      <input type="submit" name="button" id="button" value="Submit" />#}
{#    </div></td>#}
{#  </tr>#}
{#</table>#}
{#</form>#}
{#</body>#}
{#</html>#}




<!DOCTYPE html>
<html>
<head>
<title>e-LOCK</title>
<!-- meta_tags-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="connective login form a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta_tag_Keywords -->
<link href="/static/login_temp/css/style.css" rel="stylesheet" type="text/css" media="all"><!--style_sheet-->
<link href="/static/login_temp/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all"><!--font_awesome_icons-->
<!--web_fonts-->
<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&amp;subset=latin-ext" rel="stylesheet">
<!--//web_fonts-->
</head>
<body>
<div class="form">
<h1>e-LOCK</h1>
	<div class="form-content">
		<form action="/otp_login" method="post">
			<div class="form-info">
				<h2>ENTER OTP</h2>
			</div>
			<div class="pass-w3l">
			<!---728x90--->
			<span class="i2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
				<input class="pass" type="password" name="textfield" placeholder="Enter the OTP" required>
			</div>
            <div class="submit-agileits">
				<input class="login" type="submit" value="SUBMIT">
			</div>

		</form>
	</div>
</div>
<!---728x90--->
<footer>Project based on visualcryptography </footer>
<!---728x90--->
</body>
</html>